<div class="container">
    <div class="image"></div>
    <div class="about">
        <h3 style="color: #33CCCC; font-size: 2vw;">ABOUT US</h3>
        <h1 style="font-size: 3vw; color: #204066;">We Provide Best <span style="color: #33CCCC;">Health<br>Care solution</span> For You</h1>
        <p style="font-size: 1.3vw; text-align:justify;color: #669999;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        <div class="icons"><i style="color: #204066; font-size:4vw; margin: auto 0; " class="fa fa-user-md" aria-hidden="true"></i><h1 style="color:#204066; font-size: 1.5vw; margin-left: 2vw;">Free Weekly Chekup<br><span style="color: #669999; font-size:1.4vw;">Take a look at our round up of the best shows.</span></h1></div>
        <div class="icons2"><i style="color: #204066; font-size:4vw; margin: auto 0; " class="fa fa-user-md" aria-hidden="true"></i><h1 style="color:#204066; font-size: 1.5vw; margin-left: 2vw;">Free Weekly Chekup<br><span style="color: #669999; font-size:1.4vw;">Take a look at our round up of the best shows.</span></h1></div>
        <button routerLink="/patient" style="margin-top: 3vw;">Book an Appointment</button>
    </div>
</div>