<form [formGroup]="patient.PatientRegistrationForm" (ngSubmit)="addPatient">  
    <div class="container">  
      <h1> Patient Registeration Form</h1>  
    <hr>  
    <label> Firstname: </label>   
  <input type="text" name="FirstName" formControlName="FirstName" placeholder= "Firstname" size="15" required />   
  <small *ngIf="patient.PatientRegistrationForm.get('FirstName').invalid
  &&patient.PatientRegistrationForm.get('FirstName').touched" class="text-danger">FirstName is required</small>
  <label> Lastname: </label>     
  <input type="text" name="LastName" formControlName="LastName" placeholder="Lastname" size="15"required />   
  <small *ngIf="patient.PatientRegistrationForm.get('LastName').invalid
  &&patient.PatientRegistrationForm.get('LastName').touched" class="text-danger">LastName is required</small>
  <label>   
    Age:  
    </label>     
    <input type="text" name="Age" formControlName="Age" placeholder="Age">
    <small *ngIf="patient.PatientRegistrationForm.get('Age').invalid
  &&patient.PatientRegistrationForm.get('Age').touched" class="text-danger">Age is required</small>
    <label>   
        Weight:  
        </label>     
        <input type="text" name="Weight" formControlName="Weight" placeholder="Weight">
        <small *ngIf="patient.PatientRegistrationForm.get('Weight').invalid
  &&patient.PatientRegistrationForm.get('Weight').touched" class="text-danger">Weight is required</small>
  <div>  
  <label>   
  Gender :  
  </label><br>  
  <input type="radio" value="Male" name="Gender" formControlName="Gender" checked > Male   
  <input type="radio" value="Female" name="Gender" formControlName="Gender"> Female   
  <input type="radio" value="Other" name="Gender" formControlName="Gender"> Other
  </div>
  <div>  
    <label>   
    Blood Group:  
    </label>     
    <select name="BloodGroup" class="form-control form-control-lg" id="" formControlName="BloodGroup" >
    <option value="choose Doctor">choose blood group</option>
    <option value="A+">A+</option> 
    <option value="O+">O+</option>
    <option value="B+">B+</option>
    <option value="AB+">AB+</option>
    <option value="A-">A-</option> 
    <option value="O-">O-</option> 
    <option value="AB-">AB-</option>
    <option value="B-">B-</option>
  </select>
  <small *ngIf="patient.PatientRegistrationForm.get('BloodGroup').invalid
  &&patient.PatientRegistrationForm.get('BloodGroup').touched" class="text-danger">BloodGroup is required</small>
    </div>    
  <label>   
  Phone :  
  </label>     
  <input type="text" name="PhoneNumber" formControlName="PhoneNumber" placeholder="phone no." size="10" required> 
  <small *ngIf="patient.PatientRegistrationForm.get('PhoneNumber').invalid
  &&patient.PatientRegistrationForm.get('PhoneNumber').touched" class="text-danger">PhoneNumber is required</small>
  <label for="Doctor">Doctor</label>
  <select name="Doctorchoose" id="" class="form-control form-control-lg" formControlName="Doctorchoose" (change)="changeDoctor($event)" >
    <option value="" selected>Choose Doctor</option>
    <option value="{{data.id}}" *ngFor="let data of doctorlist">{{data.firstName}}&nbsp;{{data.lastName}}&nbsp;-{{data.specialization}}</option>
  </select>

  Current Address :  
  <textarea cols="80" rows="2" name="Address" formControlName="Address" placeholder="Current Address" value="address" required>  
  </textarea>    
  <small *ngIf="patient.PatientRegistrationForm.get('Address').invalid
  &&patient.PatientRegistrationForm.get('Address').touched" class="text-danger">Address is required</small>
  Symptoms :  
  <textarea cols="80" rows="2" name="Symptoms" formControlName="Symptoms" placeholder="Symptoms" value="address" required>  
  </textarea>    
  <small *ngIf="patient.PatientRegistrationForm.get('Symptoms').invalid
  &&patient.PatientRegistrationForm.get('Symptoms').touched" class="text-danger">Symptoms is required</small>
      <button type="submit" class="registerbtn" (click)="addPatient()">Register</button> 
    </div>
  </form>  