<div class="container">
<div class="block1">
    <h1 style="font-size:2vw">Hospital Name</h1>
    <p style="font-size:1.5vw;margin-top: 2.3vw;">We are many variations of passages available but the majority have suffered alteration in some form by injected humour.</p>
    <h3 style="font-size:1.5vw"><i style="color: #33CCCC;" class="fa fa-map-marker" aria-hidden="true"> </i><span style="margin-left: 0.8vw;">Bheemdatt-12-Kanchanpur</span></h3>
    <h3 style="font-size:1.5vw"><i style="color: #33CCCC;" class="fa fa-phone" aria-hidden="true"></i><span style="margin-left: 0.8vw;">+977-9868504639</span></h3>
    <h3 style="font-size:1.5vw"><i style="color: #33CCCC;" class="fa fa-envelope" aria-hidden="true"></i><span style="margin-left: 0.8vw;">info@gmail.com</span></h3>

</div>
<div class="block2">
    <h1 style="font-size:2vw; margin-left: 2.5vw;">Quick Links</h1>
    <nav></nav>
    <ul style="font-size:1.5vw">
        <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">About Us</span></li>
        <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Doctors</span></li>
        <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Pages</span></li>
        <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Services</span></li>
        <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Blogs</span></li>
        <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Contact</span></li>
        <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Book an Appointment</span></li>
    </ul>
</div>
<div class="block3">
    <h1 style="font-size:2vw; margin-left: 2.5vw;">Support</h1>
    <nav>
        <ul style="font-size:1.5vw">
            <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Online Support</span></li>
            <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">FAQ's</span></li>
            <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Free Consultancy</span></li>
            <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">24/7 Service</span></li>
            <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Make Call</span></li>
            <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Contact Support</span></li>
            <li><i style="color: #33CCCC;" class="fa fa-arrow-right" aria-hidden="true"></i><span style="margin-left: 0.8vw;">Message Us</span></li>
        </ul>
    </nav>
</div>
<div class="block4">
    <h1 style="font-size:2vw;margin-left: 2.5vw;">Opening hour</h1>
    <div class="topnav" style="display: flex; margin-top: -1vw;">
    <div class="nav1">
        <ul style="font-size:1.5vw">
            <li>Monday:</li>
            <li>Tuesday:</li>
            <li>Wednesday:</li>
            <li>Thursday:</li>
            <li>Friday:</li>
            <li>Saturday:</li>
            <li>Sunday:</li>
        </ul>
    </div>
    <div class="nav2">
    <ul style="font-size:1.5vw">
        <li>08-18</li>
        <li>08-18</li>
        <li>08-18</li>
        <li>08-18</li>
        <li>08-18</li>
        <li>08-18</li>
        <li>08-18</li>
    </ul>
    </div>
    </div>
</div>
</div>

<div>

</div>
