<header>
    <ul>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> Bheemdatt-4-Kanchanpur    </li>
      <li><i class="fa fa-envelope" aria-hidden="true"></i> aboutactor.com@gmail.com</li>
      <li><i class="fa fa-clock-o" aria-hidden="true"></i> Sun-Fri[10AM-5PM]</li>
      <li><i style="padding-left: 10px;" class="fa fa-facebook" aria-hidden="true"></i> <i style="padding-left: 10px;" class="fa fa-instagram" aria-hidden="true"></i><i style="padding-left: 10px;" class="fa fa-twitter" aria-hidden="true"></i> <i style="padding-left: 10px;" class="fa fa-youtube" aria-hidden="true"></i></li>
    </ul>
  </header>
  <nav>
    <ul>
      <li>Logo</li>
      <li>
        <ul class="Menu1">
          <li routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</li>
          <li routerLink="/aboutus"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> About</li>
          <li routerLink="/pharmacist"><i class="fa fa-medkit" aria-hidden="true"></i> Pharmacist</li>
          <li routerLink="/services"><i class="fa fa-life-ring" aria-hidden="true"></i> Service</li>
          <li routerLink="/patient"><i class="fa fa-wheelchair" aria-hidden="true"></i> Patient</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> Contact</li>
          <li><i class="fa fa-search" aria-hidden="true"></i></li>
        <li><button routerLink="/adminlogin">Login</button></li>
    </ul>
    </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>