<div class="container">
    <div class="block"><i class="fa fa-user-md" aria-hidden="true"></i><h1> Qualified Doctors</h1><p>It is a long established fact that a reader will be distract by the readable content.</p></div>
    <div id="blocks" class="block"><i style="color: #204066;" class="fa fa-life-ring" aria-hidden="true"></i><h1 style="color: #204066;">Excellent Services</h1><p style="color: #669999;">It is a long established fact that a reader will be distract by the readable content.</p></div>
    <div class="block"><i class="fa fa-money" aria-hidden="true"></i><h1>Affordable Pricing</h1><p>It is a long established fact that a reader will be distract by the readable content.</p></div>
    <div id="blocks" class="block"><i style="color: #204066;" class="fa fa-desktop" aria-hidden="true"></i><h1 style="color: #204066;">Latest Technology</h1><p style="color: #669999;">It is a long established fact that a reader will be distract by the readable content.</p></div>
</div>

