*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .header{
    background-color: #3399CC;
  }
  .header h1{
    color: white;
    font-size:2vw;
    text-align: center;
  }
  .nav{
    height:100vh;
    background-color: #333333;
    width:25%;
  }
  .content1{
    display: flex;
    height: fit-content ;
  }
  .nav .content1 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px 10px;
  }
  .nav .content1 h2{
    color: white;
    margin-top: 20px;
    font-size: 2vw;
    height: fit-content;
    width: 258px;
  }
  h3{
    color: greenyellow;
    font-size: 1.2vw;
    height: fit-content;
  }
  .main{
    margin-top: -280px;
  
  }
  .main ul{
    width: max-content;
  }
  .main ul li{
    /* text-align: center; */
    width: 338px;
    padding-left: 20px;
    font-size: 1.6vw;
    margin-top: 20px;
    list-style: none;
    color: white;
    cursor: pointer;
  }
  .main ul li:hover{
    background-color: #3399CC;
  }
  .content{
    display: flex;
    height: fit-content;
  }
  .body{
    width: 100%;
  }
  .body h1{
    font-size: 30px;
    color: white;
    height: fit-content;
    width: 100%;
    text-align: center;
  }
  label{
    font-size: 20px;
    color: white;
  }
  input{
    width: 90%;
    margin: 20px 20px 20px 10px;
  }
  h5{
    color:white;
  }