<h1 id="top"><span style="color: rgba(8, 2, 24, 0.782);">Meet With</span> Experts</h1>
<div class="container">
    <div class="team1">
        
        <ul>
            <li><i style="font-size:1.5vw;" class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><i style="font-size:1.5vw;" class="fa fa-instagram" aria-hidden="true"></i></li>
            <li><i style="font-size:1.5vw;" class="fa fa-twitter" aria-hidden="true"></i> </li>
            <li><i style="font-size:1.5vw;" class="fa fa-youtube" aria-hidden="true"></i></li>
        </ul>
        <h1 id="name">Dr. XYZ</h1>
    </div>
    <div class="team2">
        
        <ul>
            <li><i style="font-size:1.5vw;" class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><i style="font-size:1.5vw;" class="fa fa-instagram" aria-hidden="true"></i></li>
            <li><i style="font-size:1.5vw;" class="fa fa-twitter" aria-hidden="true"></i> </li>
            <li><i style="font-size:1.5vw;" class="fa fa-youtube" aria-hidden="true"></i></li>
        </ul>
        <h1 id="name">Dr. XYZ</h1>
    </div>
    <div class="team3">
        
        <ul>
            <li><i style="font-size:1.5vw;" class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><i style="font-size:1.5vw;" class="fa fa-instagram" aria-hidden="true"></i></li>
            <li><i style="font-size:1.5vw;" class="fa fa-twitter" aria-hidden="true"></i> </li>
            <li><i style="font-size:1.5vw;" class="fa fa-youtube" aria-hidden="true"></i></li>
        </ul>
        <h1 id="name">Dr. XYZ</h1>
    </div>
</div>