<app-topnav style="position: sticky;top:0;"></app-topnav>
<div class="container">
    <div class="contain">
    <div class="inner">
        <button style="font-family:'Rubik',sans-serif">#Best Hospital in the city</button>
        <h1 style="font-family: 'Rubik', sans-serif;">We offer Advanced<br><span style="color: #1DBFCC;">Health Care</span> Services</h1>
        <p style="font-family: 'Rubik', sans-serif;">#Passion For Caring.<br>A Place where healing starts for you, your family and your life.</p>
    </div>
    <div class="buttons"> 
        <button style="font-family:sans-serif" class="button1">Contact Us</button>
        <button style="font-family:'Rubik',sans-serif" class="button2">About Us</button>
    </div>
</div>
<div class="telecommunication">
    <div class="box">
        <h1>Free Tele-Communication</h1>
    <p>Book Appointment or video Consultation online with top diabetes doctors</p>
    <input type="text" name="" id="" placeholder="Your Name"><br>
    <input type="text" name="" id="" placeholder="Your Email"><br>
    <input type="text" placeholder="Phone Number"><br>
    <button>Talk to Expert</button>
    </div>
    
</div>
</div>
<div style="margin-top:120px;"><app-services></app-services></div>
<div style="margin-top:120px;"><app-aboutus></app-aboutus></div>
<div style="margin-top:120px;"><app-team></app-team></div>
<div style="margin-top:120px;"><app-testmonial></app-testmonial></div>
<div style="margin-top:120px;"><app-conclusion></app-conclusion></div>
